body {
    padding-top: 70px;
}

div.dataTables_processing {
    background: none !important;
}

#iframe-modal iframe {
    min-height: 600px;
}

.actions-column {
    width: 100px;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.loader {
    display: none;
}

.red, .red * {
    color: #d62c1a !important;
}

a.btn.account-trigger i {
    float: left;
}